{% extends 'questions/base.html' %}

{% block title %}<title>Qan'A - Make your Question</title>{% endblock title %}

{% block content %}

<div class="container">
    {% if request.user.is_authenticated %}
        <div class="py-1">
            <div class="question-border">
                <h4>Make your Question</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="comment-form">
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="errorlist">{{ field.errors }}</div>
                            {% endif %}
                            {{ field }}
                        {% endfor %}    
                    </div>
                    <button type="submit" class="btn btn-primary my-2">Submit question</button>
                </form>
            </div>
        </div>
    {% else %}
        <h4><a href="{% url 'authors:login' %}">You need to login first to make your question.</a></h4>
        <h4><a href="{% url 'authors:register' %}">Or register if you don't have an account.</a></h4>
    {% endif %}
</div>

{% endblock content %}